<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>commonJS-Interviewme-landing-page</title>
</head>
<body>
<section class="navigation">
    <div class="container">
        <div class="navigation__content">
            <h2 class="navigation__content__title">START BOOTSTRAP</h2>
            <ul class="navigation__content__sections">
                <li><a href="#portfolio">PORTFOLIO</a></li>
                <li><a href="#about">ABOUT</a></li>
                <li><a href="#contact">CONTACT</a></li>
            </ul>
            <div class="navigation__content__menu">
                <input type="checkbox" class="navigation__content__menu--toggle"/>
                <div class="navigation__content__menu--hamburger">
                    <div></div>
                </div>
                <div class="navigation__content__menu--overlay">
                    <div>
                        <div>
                            <ul>
                                <li><a href="#portfolio">PORTFOLIO</a></li>
                                <li><a href="#about">ABOUT</a></li>
                                <li><a href="#contact">CONTACT</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="welcome">
    <div class="container">
        <div class="welcome__content">
            <div class="welcome__content__avatar">
                <img src="<%= require('./src/assets/placeholder.png') %>" alt="avatar"/>
            </div>
            <h1 class="welcome__content__title mob-center">
                START BOOTSTRAP
            </h1>
            <div class="star-content">
                <div class="star-content__star"></div>
            </div>
            <div class="welcome__content__description mob-center">
                <p>Web Developer - Graphic Artist - User Experience Designer</p>
            </div>
        </div>
    </div>
</section>
<section id="portfolio" class="portfolio">
    <div class="container">
        <div class="portfolio__content">
            <h2 class="portfolio__content__title">PORTFOLIO</h2>
            <div class="star-content">
                <div class="star-content__star"></div>
            </div>
            <div class="portfolio__content__card-wrapper">
                <a href="link" class="card-first">
                    <div class="card-body">
                        <div class="img-wrapper">
                            <img src="<%= require('./src/assets/forest.svg') %>" alt="title"/>
                        </div>
                    </div>
                </a>
                <a href="link" class="card-second">
                    <div class="card-body">
                        <div class="img-wrapper">
                            <img src="<%= require('./src/assets/cake.svg') %>" alt="title"/>
                        </div>
                    </div>
                </a>
                <a href="link" class="card-third">
                    <div class="card-body">
                        <div class="img-wrapper">
                            <img src="<%= require('./src/assets/tent.svg') %>" alt="title"/>
                        </div>
                    </div>
                </a>
                <a href="link" class="card-forth">
                    <div class="card-body">
                        <div class="img-wrapper">
                            <img src="<%= require('./src/assets/game-controller.svg') %>" alt="title"/>
                        </div>
                    </div>
                </a>
                <a href="link" class="card-fifth">
                    <div class="card-body">
                        <div class="img-wrapper">
                            <img src="<%= require('./src/assets/money-box.svg') %>" alt="title"/>
                        </div>
                    </div>
                </a>
                <a href="link" class="card-sixth">
                    <div class="card-body">
                        <div class="img-wrapper">
                            <img src="<%= require('./src/assets/fishing-boat.svg') %>" alt="title"/>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</section>
<section id="about" class="about">
    <div class="container">
        <div class="about__content">
            <h2 class="about__content__title">
                ABOUT
            </h2>
            <div class="star-content">
                <div class="star-content__star"></div>
            </div>
            <div class="about__content__description">
                <p class="mob-center">Freelancer is a free bootstrap theme created by Start Bootstrap. The download includes the complete source files including HTML,
                    CSS, and Javascript as well as optional LESS stylesheets for easy customization</p>
                <p class="mob-center">Whether you're a student looking to showcase your work, a professional looking to attract clients, or a graphic artist looking to
                    share your projects, this template is the perfect starting point!</p>
            </div>
            <a class="about__content--button" href="file" download>
                <i class="fas fa-download"></i> Download now!
            </a>
        </div>
    </div>
</section>
<section id="contact" class="contact">
    <div class="container">
        <div class="contact__content">
            <h2 class="contact__content__title mob-center">CONTACT</h2>
            <div class="star-content">
                <div class="star-content__star"></div>
            </div>
            <form class="custom-form" action="/">
                <div class="custom-form__content">
                    <input name="name" type="text" placeholder="Name" required/>
                    <input name="email" type="email" placeholder="Email Address" required/>
                    <input name="phone" type="tel" placeholder="Phone Number" pattern="[0-9]{3}[0-9]{3}[0-9]{3}"
                           required/>
                    <textarea name="message" placeholder="Message" rows={5}></textarea>
                </div>
                <input class="custom-from--button" type="submit" value="Send"/>
            </form>
        </div>
    </div>
</section>
<section class="footer">
    <div class="container">
        <div class="footer__content">
            <div class="footer__content__item">
                <h2>LOCATION</h2>
                <p>2215 John Faniel Drive <br/> Clark, MO 65243</p>
            </div>
            <div class="footer__content__item">
                <h2>AROUND THE WEB</h2>
                <div class="icon-wrapper">
                    <a href="/" class="icon">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a href="/" class="icon">
                        <i class="fab fa-google-plus-g"></i>
                    </a>
                    <a href="/" class="icon">
                        <i class="fab fa-twitter"></i>
                    </a>
                    <a href="/" class="icon">
                        <i class="fab fa-linkedin-in"></i>
                    </a>
                    <a href="/" class="icon">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>
            <div class="footer__content__item">
                <h2>ABOUT FREELANCER</h2>
                <p>Freelance is a free to use, open source <br/>
                    Bootstrap theme created by <a class="item-span" href="https://nowhere.com">Start Bootstrap.</a>
                </p>
            </div>
        </div>
    </div>
    <div class="copyrights">
        <small> Copyright &copy; Your Website 2018</small>
    </div>
</section>

<script src="https://kit.fontawesome.com/2bef083580.js"></script>
</body>
</html>
